
<div class="temp-container @(Visible ? "visible" : "hidden")">
    <MudStack Row AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h6" Color="Color.Success">12°</MudText>
        <MudIcon Icon="@Icons.Material.Filled.Cloud" />
        <MudText Typo="Typo.h6">/</MudText>
        <MudText Typo="Typo.h6" Color="Color.Info">22°</MudText>
    </MudStack>
</div>

@code {

    [Parameter] public bool Visible { get; set; } = true;
}

<style>
    .temp-container {
        text-align: center; /* center text inside */
        position: fixed;
        pointer-events: none;
        bottom: 12px;
        right: 20px;
        overflow-y: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}
</style>